.register-container {
  .header-register {
    margin-bottom: 30px;
    .title {
      text-align: center;
      color: #62a19b;
      line-height: 35px;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 0;
    }
    p {
      text-align: center;
      font-size: 15px;
      color: #62a19b;
      margin-top: 8px;
    }
  }

  #registerForm {
    .form-group {
      position: relative;
      margin-bottom: 20px;
      label {
        color: #62a19b;
        font-size: 14px;
        font-weight: 500;
        transition: transform 0.2s ease, color 0.2s ease;
        padding-left: 0;
      }
      .form-control-auth {
        border: 0;
        border-bottom: 1px solid #ccc;
        outline: none;
        background: transparent;
        padding: 6px 5px;
        height: 30px;
        width: 93%;
        font-weight: 400;
        font-size: 16px;
        &:focus {
          outline: none;
          border-color: #62a19b;
          box-shadow: 0 1px 0 0 #62a19b;
          transition: transform 0.2s ease, color 0.2s ease;
        }
      }
      .icon-input {
        position: absolute;
        bottom: 10px;
        left: 0;
      }
    }
  }
  .check-info {
    &:first-child {
      margin-top: 30px;
      margin-bottom: 15px;
    }
    padding: 7px 25px;
    position: relative;
    .checkbox-remember {
      label {
        margin-bottom: 0;
        color: #62a19b;
        font-size: 11px;
        font-weight: 500;
      }
      input {
        position: absolute;
        top: 12px;
        left: 5px;
      }
    }
    .text-forgot {
      color: #62a19b;
      font-size: 13px;
    }
  }
  .btn-primary {
    width: 182px;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: #62a19b;
    border: 1px solid #62a19b;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: #62a19b;
      border: 1px solid #62a19b;
      opacity: 0.6;
    }
    &:focus,
    &:active {
      background-color: #62a19b !important;
      border: 1px solid #62a19b !important;
    }
  }
  .note {
    margin-top: 15px;
    a {
      color: #62a19b !important;
      font-size: 15px;
      cursor: pointer;
      text-decoration: revert;
    }
  }
  .dropdown-toggle {
    border: none;
    background-color: #fff;
    color: #62a19b;
    font-size: 16px;
    padding: 6px 12px;
  }

  .dropdown.show {
    .dropdown-toggle::after {
      animation-name: toggle-up;
      animation-delay: 0.1s;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  }
  .dropdown:not(.show) {
    .dropdown-toggle::after {
      animation-name: toggle-down;
      animation-delay: 0.1s;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      transform: rotate(180deg);
    }
  }
  @keyframes toggle-up {
    0% {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  @keyframes toggle-down {
    0% {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
  }
  .footer-text {
    display: block;
    text-align: center;
    margin-top: 21px;
    color: #62a19b;
    font-size: 13px;
  }
  .show-pass {
    position: absolute;
    right: 22px;
    bottom: 14px;
    cursor: pointer;
  }
}
